@model JmmJ.ToDo.Core.Domain.PagedResult<JmmJ.ToDo.Core.Domain.Task>
@using JmmJ.ToDo.Core.Enum;

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
			<th scope="col">End Date</th>
			<th scope="col">Created At</th>
			<th scope="col"><a href="#" onclick="sortTabelByPriority(this)">Priority</a></th>
			<th scope="col">Status</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model.Results)
		{
			<tr>
				<td scope="row">@i.Title</td>
				<td scope="row">@i.Description</td>
				<td scope="row">@String.Format("{0:dd/MM/yyyy}", i.ExpectedEndDate)</td>
				<td scope="row">@String.Format("{0:dd/MM/yyyy}", i.CreatedAt)</td>
				<td scope="row">@i.Priority</td>
				<td scope="row">@i.Status</td>
				<td scope="row">
					@if (i.Status != Status.Ended)
					{
						@Html.ActionLink("Edit", "Edit", "Task", new { id = i.Id.ToString() }, new { @class = "btn btn-primary" });
						@*<a href="@Url.Action("Edit",i.Id)" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>*@
					}
					@Html.ActionLink("Delete", "Delete", "Task", new { id = i.Id.ToString() }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}
	</tbody>
</table>